<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


  <h1>Rajdhani Restaurant</h1>
  

    <h2>Breakfast Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      
      <tr>
        <td>Aloo Paratha</td>
        <td>Indian Bread stuffed with Aloo masala</td>
        <td>100</td>
      </tr>
      
      <tr>
        <td>Puri Sabji</td>
        <td>Indian Bread deep fried with Aloo gravy</td>
        <td>150</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

    <h2>Dinner Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      
      <tr>
        <td>Indian Thali</td>
        <td>Chapatti, Rice, Daal</td>
        <td>150</td>
      </tr>
      
      <tr>
        <td>Paneer Thali</td>
        <td>Indian Thali with Paneer gravy</td>
        <td>200</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

    <h2>Lunch Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      
      <tr>
        <td>Rajma Chawal</td>
        <td>Kidney Beans gravy with Rice</td>
        <td>100</td>
      </tr>
      
      <tr>
        <td>Indian Thali</td>
        <td>Chapatti, Rice, Daal</td>
        <td>150</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

  <h1>Italina Restaurant</h1>
  

    <h2>Breakfast Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      
      <tr>
        <td>Sandwich</td>
        <td>Bread stuffed with Italian sauce</td>
        <td>150</td>
      </tr>
      
      <tr>
        <td>Cornflakes</td>
        <td>Corn flakes with milk</td>
        <td>150</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

    <h2>Dinner Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      
      <tr>
        <td>Pizza</td>
        <td>Pizza topped with ...</td>
        <td>150</td>
      </tr>
      
      <tr>
        <td>Pasta</td>
        <td>Pasta with Red sauce</td>
        <td>200</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

    <h2>Lunch Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      
      <tr>
        <td>Rissoto</td>
        <td>italian Khichdi</td>
        <td>300</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

</body>
</html>
