<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
  <h1>{{.RestaurantName}}</h1>
  {{range $key, $value := .Menu}}

    <h2>{{$key}} Menu:</h2>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </thead>
      {{range $value}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Description}}</td>
        <td>{{.Price}}</td>
      </tr>
      {{end}}
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  {{end}}
{{end}}
</body>
</html>
