<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

  

    <h2>Hotels in Central region:</h2>

    <table>
      <thead>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
      </thead>
      
      <tr>
        <td>Hotel Rajdhani</td>
        <td>Juhu Beach</td>
        <td>Bhopal</td>
        <td>100001</td>
      </tr>
      
      <tr>
        <td>Taj Resort</td>
        <td>Central Secretariat</td>
        <td>Nagpur</td>
        <td>100002</td>
      </tr>
      
      <tr>
        <td>Happy Stay</td>
        <td>Juhu Chowpaty</td>
        <td>Raipur</td>
        <td>100003</td>
      </tr>
      
      <tr>
        <td>Hotel Jhakas</td>
        <td>M.G.Road</td>
        <td>Ranchi</td>
        <td>100004</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

    <h2>Hotels in Northern region:</h2>

    <table>
      <thead>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
      </thead>
      
      <tr>
        <td>Bay Watch</td>
        <td>Juhu Beach</td>
        <td>Mumbai</td>
        <td>100001</td>
      </tr>
      
      <tr>
        <td>Taj Resort</td>
        <td>Central Secretariat</td>
        <td>New Delhi</td>
        <td>100002</td>
      </tr>
      
      <tr>
        <td>Happy Stay</td>
        <td>Juhu Chowpaty</td>
        <td>Chennai</td>
        <td>100003</td>
      </tr>
      
      <tr>
        <td>Hotel Jhakas</td>
        <td>M.G.Road</td>
        <td>Kolkata</td>
        <td>100004</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

    <h2>Hotels in Southern region:</h2>

    <table>
      <thead>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip</th>
      </thead>
      
      <tr>
        <td>Bay Watch</td>
        <td>Juhu Beach</td>
        <td>Mumbai</td>
        <td>100001</td>
      </tr>
      
      <tr>
        <td>Taj Resort</td>
        <td>Central Secretariat</td>
        <td>New Delhi</td>
        <td>100002</td>
      </tr>
      
      <tr>
        <td>Happy Stay</td>
        <td>Juhu Chowpaty</td>
        <td>Chennai</td>
        <td>100003</td>
      </tr>
      
      <tr>
        <td>Hotel Jhakas</td>
        <td>M.G.Road</td>
        <td>Kolkata</td>
        <td>100004</td>
      </tr>
      
    </table>

  <!-- PUT YOUR CODE HERE TO SHOW THE DATA-->

  

</body>
</html>
