<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


  <h1>
    Academic Year :2020-2021
  </h1>

  <h3>
    Fall Semester:<br/>
  </h3>
  <table>
    <thead>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Units</th>
    </thead>
    
    <tr>
      <td>CSCI-40</td>
      <td>Introduction to Programming in Go</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>CSCI-130</td>
      <td>Introduction to Web Programming with Go</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>CSCI-140</td>
      <td>Mobile Apps Using Go</td>
      <td>4</td>
    </tr>
    
  </table>

  <h3>
    Spring Semester:<br/>
  </h3>
  <table>
    <thead>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Units</th>
    </thead>
    
    <tr>
      <td>CSCI-50</td>
      <td>Advanced Go</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>CSCI-190</td>
      <td>Advanced Web Programming with Go</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>CSCI-191</td>
      <td>Advanced Mobile Apps With Go</td>
      <td>5</td>
    </tr>
    
  </table>

  
<!-- PUT YOUR CODE HERE TO SHOW THE DATA-->


  <h1>
    Academic Year :2021-2022
  </h1>

  <h3>
    Fall Semester:<br/>
  </h3>
  <table>
    <thead>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Units</th>
    </thead>
    
    <tr>
      <td>CSCI-40</td>
      <td>Introduction to Programming in Go</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>CSCI-130</td>
      <td>Introduction to Web Programming with Go</td>
      <td>4</td>
    </tr>
    
    <tr>
      <td>CSCI-140</td>
      <td>Mobile Apps Using Go</td>
      <td>4</td>
    </tr>
    
  </table>

  <h3>
    Spring Semester:<br/>
  </h3>
  <table>
    <thead>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Units</th>
    </thead>
    
    <tr>
      <td>CSCI-50</td>
      <td>Advanced Go</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>CSCI-190</td>
      <td>Advanced Web Programming with Go</td>
      <td>5</td>
    </tr>
    
    <tr>
      <td>CSCI-191</td>
      <td>Advanced Mobile Apps With Go</td>
      <td>5</td>
    </tr>
    
  </table>

  
<!-- PUT YOUR CODE HERE TO SHOW THE DATA-->



</body>
</html>
